*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.headerSection{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px;
    width:100%;
    height:80px;
    background-color: rgb(3, 26, 3);
    color:white;
    position: relative;
}
.toggleLogo{
    display: none;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
}
.menu ul li{
    list-style: none;
    margin:0 10px;
    cursor: pointer;
}
.menu ul li a{
    text-decoration: none;
    color:white;
}


@media(max-width:767px){
   
   .toggleLogo{
       display: block;
       cursor: pointer;
   }
   .menu{
    z-index: -1;
    width:100%;
    background-color: rgb(5, 43, 5);
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    transform: translateY(0%);
    transition: transform ease-in-out 0.5s;
   }
   .isActive{
    transform: translateY(100%);
    transition: transform ease-in-out 0.5s;
   }
   .menu ul{
       display: block;
       
   }
  
   .menu ul li a{
       display: block;
       margin: 20px 0 20px 20px;
   }
  
}
